<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uahage.api.repository.UserDetailRepository">
    <insert id="save" parameterType="com.uahage.api.domain.UserDetail">
        insert into user_details(user_id, age_group_type, baby_gender, baby_birthday)
        values(#{user.id}, #{ageGroupType}, #{babyGender}, #{babyBirthday});
    </insert>

    <update id="edit" parameterType="com.uahage.api.domain.UserDetail">
        update user_details
        <set>
            <if test="babyGender != null">baby_gender=#{babyGender},</if>
            <if test="babyBirthday != null">baby_birthday=#{babyBirthday},</if>
            <if test="ageGroupType != null">age_group_type=#{ageGroupType},</if>
        </set>
        where user_id = #{user.id};
    </update>
</mapper>