<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uahage Api Server</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
    body{
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .icon{
        font-size:60px;
        color:#424242;
    }
    .title{
        font-size:40px;
        font-family: 'Pacifico', cursive;
        color:#424242;
    }
</style>
<body>
    <div class="icon">ʕ•́ᴥ•̀ʔっ</div>
    <div class="title">Uahage api server is running</div>
</body>
</html>